# deps
/node_modules

# next
/.next/
/out/

# prod
/build

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# misc
.DS_Store
*.pem
*:Zone.Identifier

# local claude settings
.claude/settings.local.json
